@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
body{
    background-color: black;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: black;
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-right ul{
    display: flex;
    list-style: none;
}
.nav-right ul li{
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 10px;
}
.nav-right ul li:hover{
    background-color: #0088ff;
    transition: .3s ease-out;
}
.search-bar input{
    border: none;
    outline: none;
    padding: 5px 15px;
    border-radius: 10px;
}
#element{
    font-size: 4rem;
}
.welcome-section{
    width: 100%;
    background: url('/Img/goku.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    animation: changebg 8s 3s infinite ease-in;
}
.welcome-overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgba(0, 0, 0, 0.897),rgba(0, 0, 0, 0.192));
}
.welcome-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background: rgba(0,0,0,0);
    justify-content: center;
}
.welcome-text p{
    font-size: 1.3rem;
}
.welcome-text a{
    text-decoration: none;
    color: white;
    background-color: #0088ff;
    width: 30%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    align-self: center;
    margin: 10px;
}
.ri-menu-line{
    font-size: 2rem;
    position: absolute;
    top: 15px;
    right: 10px;
}
@keyframes changebg{
    0%{
        background: url('/Img/goku.jpg');
        background-size: cover;
        background-position: center center;
    }
    25%{
        background: url('/Img/goku2.jpg');
        background-size: cover;
        background-position: center center;
    }
    50%{
        background: url('/Img/wdhacker.jpg');
        background-size: cover;
        background-position: center center;
    }
    75%{
        background: url('/Img/goku3.jpg.jpg');
        background-size: cover;
        background-position: center center;
    }
    100%{
        background: url('/Img/goku4.jpg');
        background-size: cover;
        background-position: center center;
    }
}
@media (max-width : 500px) {
    nav{
        flex-direction: column;
    }
    .nav-right{
        flex-direction: column;
        width: 100%;
        display: none;
    }
    .nav-right ul{
        flex-direction: column;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .nav-right ul li{
        width: 100%;
        margin: 10px 0;

    }
    .brand-logo{
        width: 100%;
    }
    .search-bar{
        width: 100%;
    }
    .search-bar input{
        width: 100%;
    }
    .nav-right.active{
        display: flex;
    }
    .welcome-text{
        width: 100%;
    }
}